@font-face {
	font-family: mvboli;
	src: url("./assets/mvboli.ttf");
}

header {
	width: 100%;
	padding: 28px 8%;
}

#navbar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: "mvboli";
}

#nav_logo {
	width: 10%;
	height: auto;
}

div#nav_search {
	display: flex;
	align-items: center;
	padding: 0px 8px;
	justify-content: center;
	border-radius: 12px;
	background-color: #ffffff;
	font-weight: 600;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

button#nav_submit {
	border: none;
	background: inherit;
	padding: 10px 12px;
	border-radius: inherit;
}

#nav_list {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 50px;
	font-size: 22px;
	font-family: mvboli;
	text-align: center;
	align-self: center;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: nowrap;
}

.nav-item a {
	text-decoration: none;
	color: #ffffff;
	font-weight: 200;
}

.nav-item.active {
	color: #ffffff;
	border-bottom: 3px solid #ffffff;
}
