@font-face {
	font-family: mvboli;
	src: url("./assets/mvboli.ttf");
}

header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 28px 20px;
}

#Navbar {
	width: 100%;
	display: flex;
	padding: 2px 40px;
	align-items: center;
	justify-content: space-between;
	font-family: "mvboli";
}

#NavLogo {
	width: 10%;
	height: auto;
}

#NavList {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 50px;
	font-size: 22px;
	font-family: mvboli;
	text-align: center;
	align-self: center;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: nowrap;
}

.nav-item a {
	text-decoration: none;
	color: #ffffff;
	font-weight: 200;
}

.nav-item.active {
	color: #ffffff;
	border-bottom: 3px solid #ffffff;
}

/* Search bar */
.search-container {
	position: relative;
	width: 300px;
	height: 40px;
	display: flex;
	justify-content: flex-end;
}

.search-subcontainer {
	display: flex;
	align-items: flex-end;
	width: 40px;
	transition: width 0.4s ease;
	border-radius: 12px;
	background: #8d8d8d;
}

.search-subcontainer.expanded {
	width: 100%;
}

#SearchInput {
	flex: 1;
	padding: 12px 40px 12px 14px;
	box-sizing: border-box;
	border: none;
	background: transparent;
	font-size: 16px;
	color: #eee;
	outline: none;
	cursor: text;
	white-space: nowrap;
}

#SearchInput.collapsed {
	display: none;
	pointer-events: none;
}

button#SearchButton {
	position: absolute;
	right: 0;
	background: none;
	border: none;
	padding: 10px;
	color: #aaa;
	font-size: 16px;
	cursor: pointer;
	outline: none;
}
